html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1e1e1e; /* PAKEISTI SPALVA */
}
body {
    background-color: #f4f7f6;
    line-height: 1.6;
}
@font-face {
    font-family: 'genshin_didelis';
    src: url(images_fonts/Genshin_Impact_DRIP_FONT.ttf);
}
@font-face {
    font-family: 'genshin_paprastas';
    src: url(images_fonts/genshin_impact_paprastas.ttf);
}
a {
    text-decoration: none;
    transition: color 0.3s;
}
nav a {
    font-weight: bold;
    /* padding: 5px 0; */
}
nav.main_menu a:hover { 
    color: rgb(22, 129, 93); /* PAKEISTI SPALVA */
    border-bottom: 2px solid rgb(22, 129, 93); /* PAKEISTI SPALVA */
}
.pasleptas_txt {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5% 20px 5%;
    background-color: white;
    box-shadow: 0 2px 4px #1e1e1e;
    position: sticky;
    top: 0;
    z-index: 100;
}
#logotipas {
    height: 70px;
    width: auto;
}
#pavadinimas {
    display: flex;
    align-items: center;
}
header h1 {
    font-family: genshin_didelis;
    font-size: 2em;
    position: relative;
    top: 20px;
    margin-left: -23px;
}
#uzsakymas {
    background: url('images_fonts/bandom.png') no-repeat center center/cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h2 {
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 4px #1e1e1e;
    margin: 50px 50px 30px 50px;
}
#planavimas {
    width: 1000px;
    margin: 30px auto 50px;
    background-color: rgba(255, 255, 255, 0.87); /* Pusiau permatomas fonas */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px #1e1e1e;
}
#planavimas form {
    display: flex;
    flex-wrap: wrap; /* Leisti elementams persikelti į naują eilutę, jei netelpa */
    justify-content: center;
    gap: 15px;
}
#planavimas input[type="date"] {
    padding: 20px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    flex-grow: 1; /* Leisti laukeliams augti, bet tik iki tam tikro dydžio */
    min-width: 150px;
    max-width: 250px;
}
#planavimas #isvyk, #atvyk {
    padding: 20px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    flex-grow: 1; /* Leisti laukeliams augti, bet tik iki tam tikro dydžio */
    min-width: 150px;
    max-width: 300px;
}
#planavimas input[type="submit"] {
    background-color: #d87055; /* PAKEISTI SPALVA */
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}
#planavimas input[type="submit"]:hover {
    background-color: #e0b33b; /* Tamsesnė akcento spalva užvedus pelyte */
}
#pyro_symbol {
    z-index: -1;
    opacity: 4%;
    height: 600px;
    width: 550px;
    position: absolute;
}
#cryo_symbol {
    right: 10px;
    margin: -40px 0 0 0;
    z-index: -1;
    opacity: 4%;
    height: 650px;
    width: auto;
    position: absolute;
}
#geo_symbol {
    margin: 80px 0 0 10px;
    z-index: -1;
    opacity: 4%;
    height: 600px;
    width: auto;
    position: absolute;
}
h3 {
    text-align: center;
    font-size: 2em;
    margin: 20px 0 20px;
    color: #1e1e1e;
}
#vietos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 5%;
}
#vietos figure {
    flex-basis: 250px;
    flex-grow: 1;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#vietos figure:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px #1e1e1e;
}
#index .vietu_img {
    height: 200px;
    object-fit: cover;
}

figcaption {
    padding: 15px 10px;
    font-weight: bold;
    background-color: white;
}
nav ul {
    list-style-type: none;
    display: flex; /*PAZIURETI, GAL TINKA INHERIT*/
    font-size: 1.1em;
    gap: 25px;
}
.mora {
    max-width: 50px;
    height: auto;
    display: block;
    margin-top: 5px;
}
section {
    padding: 30px 5%;
    margin-bottom: 20px;
}
.atsiliepimai1 section:nth-of-type(3) > div { /* Stilizuojame Atsiliepimo bloką || PASIDOMETI WTF */
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 3px #1e1e1e;
}
section div.atsiliepimu_deze {
    box-sizing: border-box;
    display: inline;
    /* justify-content: center; */
}
section div.atsiliepimai {
    display: inline-block;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    margin: 10px 10px 10px 32px;
    padding: 10px 5px 10px 5px;
    max-width: 500px;
}
h5 {
    text-align: center;
    font-style: italic;
    font-size: 0.9em;
    color: #03225D;
}
div.atsiliepimai p {
    text-align: center;
    padding: 15px 7px 15px 7px;
    font-weight: 400;
}
div .atsiliepimu_img {
    border-radius: 50%;
    height: 90px;
    display: flex;
    margin: 10px auto 10px auto;
}
div .atsiliepimu_zvg {
    height: 18px;
    display: flex;
    margin: 5px auto 5px auto;
}
#D-U-K details {
    max-width: 1100px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    transition: background-color 0.3s;
}
#D-U-K details:hover {
    background-color: #f9f9f9;
}

#D-U-K summary {
    font-weight: bold;
    padding: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    list-style: none; /* Paslėpti standartinę rodyklę */
}
.klausimas {
    display: flex;
    align-items: center;
}
#D-U-K summary::-webkit-details-marker {
    display: none; /* Paslėpti Chrome/Safari rodyklę */
}

/* Pridedame savo rodyklę per pseudo-elementą */
#D-U-K summary::before {
    content: "";
    background-image: url('images_fonts/duk_icon.webp');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    height: 24px;
    transform: none !important;
    transform-origin: none !important;
    display: inline-block;
    transform-origin: left center;
}

#D-U-K details[open] summary::before {
    content: "";
    background-image: url('images_fonts/duk_icon_open.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    /* height: 100px; */
    transform: none;
    transform-origin: none;
    display: inline-block;
    transform-origin: left center;
}

#D-U-K p {
    padding: 0 15px 15px;
    font-weight: 500;
}
.duk-ul li {
    list-style: disc;
    margin-left: 50px;
    font-weight: 500;
}

footer {
    background-color: #a4d4f2;
    color: #1e1e1e;
    padding: 30px 5%;
    position: relative;
}

footer a {
    color: #1e1e1e;
}

footer a:hover {
    color: #e0b33b;
}

footer section {
    display: flex;
    justify-content: space-around; 
    /* flex-wrap: wrap; */
    gap: 30px;
    padding: 0;
    margin-bottom: 20px;
}

footer h4 {
    color: var(--akcento-spalva);
    margin-bottom: 15px;
    font-size: 1.1em;
}

footer ul {
    list-style: none;
}

footer li {
    margin-bottom: 8px;
}
#paimon {
    display: flex;
    align-items: right;
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 300px;
    width: auto;
    z-index: 1000;
}
#loading_screen {
    display: flex;
    align-items: center;
    text-align: center;
    height: 33px;
    width: auto;
    margin: 10px auto;
}
#loading_screen::before {
    content: '';
    flex: 1;
    height: 2px;
    background-color: #8bc3e5;
    margin: 0 30px;
}
#loading_screen::after {
    content: '';
    flex: 1;
    height: 2px;
    background-color: #8bc3e5;
    margin: 0 30px;
}
div#social_media {
    display: flex;
    justify-content: left;
    /* align-items: start; */
    margin-top: 10px;
}
img.social_media {
    height: 30px;
    width: auto;
    margin: 0 10px;
}
#vietu_aprasymai h3 {
    font-family: genshin_paprastas;
}
#vietu_aprasymai details {
    max-width: 1400px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    transition: background-color 0.3s;
}
#vietu_aprasymai p {
    /* padding: 0 15px 15px; */
    font-weight: 500;
    width: 600px;
    margin-top: 40px;
}
#vietu_aprasymai figure {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#ka_pamatyti_virsus {
    background: url('images_fonts/ka_pamatyti.png') no-repeat center center/cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 378px;
}
.region_showcase {
    display: flex;
    margin: 50px 40px;
    justify-content: space-around;
}
#pamatyti .vietu_img { /*ka_pamatyti.html img*/
    height: 280px;
    width: auto;
    object-fit: cover;
}
div#region_showcase_nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: fixed;
    z-index: 100;
    left: 30px;
    top: 54%;
    transform: translateY(-50%); /* counteractina "top:50%" ir pakelia diva per puse jo paties aukscio */
}
div#region_showcase_nav ul {
    display: flex;
    flex-direction: column;
}
#region_showcase_nav li {
    padding: 0;
    margin: 0;
}
.region_showcase_a {
    position: relative;
    display: block;
    padding: 5px;
}
.region_showcase_a::after {
    content: attr(data-regiono-pav);
    font-family: genshin_paprastas;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap; /* Keep the name on a single line */
    padding: 4px 8px;
    margin-left: 10px; /* Space between icon and text */
    /* background-color: rgba(0, 0, 0, 0.85); */
    color: rgb(170, 77, 77);
    /* text-decoration: underline; */
    border-radius: 4px;
    font-size: 18px;
    z-index: 101; /* Make sure it's above other elements */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}
.region_showcase_a:hover::after {
    opacity: 1;
    visibility: visible;
}
li a img.region_showcase_href {
    height: 40px;
    width: auto;
    display: block;

}
div#mondstadt, div#liyue, div#inazuma, div#sumeru, div#fontaine, div#natlan, div#nod-krai {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    margin: 30px auto;
    width: 1450px;
}
#apie_mus h3 {
    margin-bottom: 50px;
}
#apie_mus_virsus {
    background: url(images_fonts/20251002171750.png) no-repeat center center/cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 378px;
}
#kompanija, #projektai, #karjera {
    margin: auto;
    width: 1800px;
}
#kompanijos_info {
    display: flex;
    margin: 0 40px 50px 40px;
    justify-content: space-around;
    gap: 60px;
}
#kompanija p {
    display: inline-flex;
    font-weight: 500;
}
#komanda {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 5%;
}
#komanda figure {
    flex-basis: 250px;
    flex-grow: 1;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#komanda_visa {
    display: inline-flex;
    height: 350px;
    border-radius: 8px;
}
#kompanija h4 {
    text-align: center;
    font-size: 1.5em;
}
.komandos_nariai {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
#projektas_1_h4, #projektas_2_h4, #projektas_3_h4 {
    font-size: 1.3em;
    margin: 0 0 -70px 0;
}
#projektas_2_h4 {
    text-align: center;
    margin-right: 606px;
}
#projektas_3_h4 {
    margin-left: 611px;
}
#projektas_1, #projektas_2, #projektas_3 {
    display: flex;
    justify-content: space-around;
    width: 1000px;
    gap: 30px;
}
#projektai > div:nth-of-type(1) { /* 1st direct child div of #projektai */
    margin-top: 50px;
}
#projektas_1 {
    margin: 80px 0;
    margin-right: auto;
}
#projektas_2 {
    margin: 80px auto;
}
#projektas_3 {
    margin: 80px 0 0;
    margin-left: auto;
}
.projektu_img {
    border-radius: 8px;
    width: 500px;
    margin-top: -45px;
}
#karjeros_img {
    width: 550px;
    height: auto;
    border-radius: 8px;
}
#karjera div {
    display: flex;
    justify-content: space-around;
    /* gap: 50px; */
    /* margin-bottom: 50px; */
}
#karjera div div {
    display: initial;
}
#karjera li {
    list-style: disc;
    margin-left: 50px;
    font-weight: 500;
}
#auto-nuoma, #apsistojimas, #viskas-iskaiciuota {
    margin: auto;
    width: 1500px;
}
#paslaugos p {
    font-weight: 500;
}
#paslaugos_virsus {
    background: url(images_fonts/20251002171750.png) no-repeat center center/cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 378px;
}
#paslaugos_uzsakymas {
    width: 600px;
    margin: 30px auto 50px;
    background-color: rgba(255, 255, 255, 0.65); /* Pusiau permatomas fonas */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px #1e1e1e;
}
#paslaugos_uzsakymas ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
#paslaugos_uzsakymas ul li {
    font-size: large;
    font-weight: 500;
}
#auto-nuoma div {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 400px; /* PAKEISTI, JEI DESIU DAUGIAU CONTENTO */
    /* display: flex;
    justify-content: space-around; */
    margin: 40px auto;
}
#auto-nuoma p {
    width: 600px;
    margin: 60px 40px;
    text-align: left;
}
#pavezejimas_img {
    position: absolute;
    right: 200px;
    top: 560px;
    height: 570px;
    width: auto;
    z-index: 2;
}
#apsistojimas_beh3 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 5%;
}
#apsistojimas_beh3 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 5%;
}
#apsistojimas_beh3 summary {
    cursor: pointer;
    outline: none;
    list-style: none; 
}
#apsistojimas_beh3 details {
    flex-basis: 250px;
    flex-grow: 1;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.apsistojimas_img {
    height: 300px;
    width: auto;
    object-fit: cover;
}
#planavimas_karjera {
    width: fit-content;
    margin: 30px auto 50px;
    background-color: rgba(59, 137, 61, 0.59); /* Pusiau permatomas fonas */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px #1e1e1e;
}
#planavimas_karjera form {
    display: flex;
    flex-wrap: wrap; /* Leisti elementams persikelti į naują eilutę, jei netelpa */
    justify-content: center;
    gap: 15px;
}
#planavimas_karjera input[type="submit"] {
    background-color: #d87055; /* PAKEISTI SPALVA */
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}
#planavimas_karjera input[type="submit"]:hover {
    background-color: #e0b33b; /* Tamsesnė akcento spalva užvedus pelyte */
}