body {
    background: #FEF3E2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@font-face {
    font-family: 'genshin_didelis';
    src: url(images_fonts/Genshin_Impact_DRIP_FONT.ttf);
}
@font-face {
    font-family: 'genshin_paprastas';
    src: url(images_fonts/genshin_impact_paprastas.ttf);
}
#logotipas {
    height: 53px;
    vertical-align: -25%;
}
header {
    /* max-width: max-content; */
    display: inline-block;
    box-sizing: border-box;
    max-width: 100%;
    background-color: #fef23f;
}
nav {
    display: inline;
}
#pavadinimas {
    display: inline !important; 
    padding: 30px 0 0 10px; /* neveikia virsus */
    margin: 10px 30px 0 10px;
}
/* #uzsakymas {
    background: #FAB12F;

} */
h1 {
    font-family: genshin_didelis;
    font-size: x-large;
    /* padding: 15px; */
    display: inherit; /*INHERIT REIKALAVIMAS*/
    margin-left: -20px;
}
ul {
    list-style-type: none;
    display: inherit;
    flex-grow: 0;
    justify-content: space-evenly;
    /* margin: 0 100px 0 200px; */
}
li {
    display: inherit;
    padding: 0 30px 30px 30px;
}
/* header {
    background: #FAB12F;
} */
.pasleptas_txt {
    /* ????? */
}
.mora {
    vertical-align: -5px;
    height: 1.3em;
    margin-left: -4px;
}
.vietu_img {
    height: 100px;
}
div #vietos {
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
    margin-right: 100px;
}